<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        Início
      </ion-tab-button>
      <ion-tab-button tab="action-sheet">
        <ion-icon name="list-outline"></ion-icon>
        Action sheet
      </ion-tab-button>
      <ion-tab-button tab="cards">
        <ion-icon name="albums-outline"></ion-icon>
        Cards
      </ion-tab-button>
      <ion-tab-button tab="datas">
        <ion-icon name="calendar-outline"></ion-icon>
        Datas
      </ion-tab-button>
      <ion-tab-button tab="alert">
        <ion-icon name="alert-circle-outline"></ion-icon>
        Alertas
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
