<app-header pageTitle="Página de tabelas"></app-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>ion-col</ion-col>
      <ion-col>ion-col</ion-col>
      <ion-col>ion-col</ion-col>
      <ion-col>ion-col</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8" offset="2">Objeto que ocupa 8 colunas</ion-col>
      <ion-col>ion-col</ion-col>
      <ion-col>ion-col</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">ion-col size="3"</ion-col>
      <ion-col>Objeto que vai estar ao centro</ion-col>
      <ion-col size="3">ion-col size="3"</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
